{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('./static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I'm The Cosmic Pen—a writer captivated by the vastness of space and the beauty of science. Through storytelling, I translate the mysteries of the universe into something we can all wonder at. From black holes to habitable worlds, every post is a journey beyond the stars.</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        {% include "footer.html" %}